body{
    margin: 0%;
    font-family: 'Ephesis', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.banner{
    background-image: url(images/donation12.png);
    background-repeat: no-repeat;
    color: #ff085eed;
    padding-top: 400px;
    text-align: center;
    height: 450px;
}
.banner h1{
    font-size: 100px;
    margin-bottom: 0%;
}

.banner p{
    font-size: 28px;
    margin-bottom: 50px;
    color: rgb(253, 253, 253);
}

.link-button{
    text-decoration: none;
    font-weight: 700;
    color: azure;
    background-color: tomato;
    padding: 10px 25px;
    border-radius: 5px;
}
